html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: rgb(36, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    color: white;
}

#insta-surround {
    width: 3.75vh;
    height: 3.75vh;
}

#gmail-surround {
    width: 3.75vh;
    height: 3.75vh;
}

#linkdin-surround {
    width: 3.75vh;
    height: 3.75vh;
}

#insta {
    width: 2.5vh;
    height: 2.5vh;
    transform: translate(0vh,0vh);
    scale: 1;
    transition: all 1s;
}

#insta:hover {
    cursor: pointer;
    scale: 1.2;
}

#insta-logo {
    width: 100%;
    height: 100%;
}

#gmail {
    width: 2.5vh;
    height: 2.5vh;
    transform: translate(0vh,0vh);
    scale: 1;
    transition: all 1s;
}

#gmail:hover {
    cursor: pointer;
    scale: 1.2;
}

#linkdin {
    width: 2.5vh;
    height: 2.5vh;
    transform: translate(0vh,-2.5vh);
    scale: 0.5;
    transition: all 1s;
}

#linkdin:hover {
    cursor: pointer;
    scale: 0.6;
}

#gmail-logo {
    width: 100%;
    height: 100%;
}

#outreach-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    gap: 15vh;
}