html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250vh;
    margin: 0px;
    background-color: rgb(36, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    color: white;
    text-align: center;
}

#container img {
    max-width: 100%;
    height: auto;
}

#other-sites {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

#team-members-shadow, #team-outreach-shadow, #team-structure-shadow {
    width: 30vh;
    height: 50vh;
    border: 0.1vh solid white;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textthings {
    transform: translate(0vh, -10vh);
}

.buttons {
    transform: translate(0vh, 10vh);
    width: 25vh;
    height: 7.5vh;
    color: white;
    background-color: rgb(36, 36, 36);
    border: 0.1vh solid white;
    transition: background-color 1s;
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(20, 124, 10);
}